<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item>
      <ion-img src="assets/star-logo.png"></ion-img>
      <ion-img slot="end" src="assets/pay.png"></ion-img>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="primary-background ion-margin-horizontal ion-margin-bottom">
    <ion-col class="ion-text-center ion-padding-vertical"> LVL </ion-col>
    <ion-col class="ion-text-center ion-padding-vertical"> CUSTOMERS </ion-col>
    <ion-col class="ion-text-center ion-padding-vertical"> PROFIT </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 11 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 2048 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 12 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 4096 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 13 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 8095 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 14 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 6578 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 15 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 8982 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 16 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 6842 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 17 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 2423 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 18 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 2342 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 19 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 7276 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 20 </ion-col>
    <ion-col class="ion-text-center borderright ion-padding-bottom"> 2837 </ion-col>
    <ion-col class="ion-text-center ion-padding-bottom"> _____ </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end ion-padding">
    <ion-col size="8" offset="1" class="ion-text-center ion-padding">
      <ion-label class="primary-background ion-padding"> TOTAL EARNINGS </ion-label>
    </ion-col>
    <ion-col size="3" class="ion-text-center ion-padding-end"> _____ </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-padding-vertical ion-justify-content-center ion-align-items-center">
    <label> *TOTAL EARNING LIMIT TO 5 LAKH/ MONTH </label>
  </ion-row>
  <ion-row class="ion-padding-vertical ion-justify-content-center ion-align-items-center">
    <label> NEXT <ion-icon color="primary" name="play"></ion-icon> </label>
  </ion-row>
  <ion-row class="ion-padding-vertical ion-justify-content-center ion-align-items-center">
    <ion-text color="primary"> <strong> <em> #Share together #Earn together </em> </strong> </ion-text>
  </ion-row>
</ion-footer>