ion-img {
    max-width: 40vw;
  }
  .borderright {
    border-right: 1px solid var(--ion-color-primary);
  }
  .primary-background {
      background-color: var(--ion-color-primary);
      color: white;
      border-radius: 20px;
  }